# This file is part of the setup-specmatic.
#
# Copyright (c) 2023 airSlate, Inc.
#
# For the full copyright and license information, please view
# the LICENSE file that was distributed with this source code.

name: Licensed

on:
  push:
    branches: [main]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [main]

jobs:
  licensed:
    name: Licensed
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js 18.x
        uses: actions/setup-node@v4
        with:
          node-version: 18.x
          cache: npm

      - name: Setup npm cache
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install dependencies
        run: npm ci --ignore-scripts

      - name: Install ruby
        uses: ruby/setup-ruby@v1.184.0
        with:
          ruby-version: '3.2'
          bundler-cache: true

      - name: Install licensed tool
        uses: github/setup-licensed@v1.1.4
        with:
          version: '4.x'

      - name: Output licensed environment configuration
        run: licensed env

      - name: List dependencies
        run: licensed list

      - name: Check cached dependency records
        run: licensed status
